@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: rgb(20, 19, 19);
  font-family: "Inter";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  padding: 0 80px 0 80px;
}

header h1 {
  font-size: 120px;
  font-weight: 500;
  font-family: "Lora";
  color: white;
}

.menu-container button {
  position: absolute;
  right: 95px;
  top: 30px;
  background-color: transparent;
  background-image: url(../images/menu.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

.menu-container .overlay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  position: absolute;
  right: 95px;
  top: 30px;
  width: 250px;
  height: 300px;
  background-color: aliceblue;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.overlay span {
  position: absolute;
  top: 8px;
  right: 14px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.overlay .profile {
  display: flex;
  flex-direction: column;
}

.profile img {
  height: 100px;
  width: 100px;
  border: 4px solid rgb(112, 16, 16);
  border-radius: 100px;
}

.profile h4 {
  margin-bottom: 10px;
}

.overlay .options {
  display: flex;
  justify-content: center;
}

.options ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.options a {
  text-decoration: none;
  color: inherit;
}

.options li:nth-child(2) {
  margin-top: 5px;
}
.options li:nth-child(3) {
  margin-top: 15px;
  font-weight: 600;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.account-table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  color: white;
}

.account-table th,
.account-table td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

.account-table th {
  background-color: #802020;
}

.account-table tr:nth-child(even) {
  background-color: #2a2a2a;
}
