@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  background-image: linear-gradient(
      to bottom,
      rgba(206, 184, 184, 0) 0%,
      rgb(20, 19, 19) 40%
    ),
    url(../images/movie1.jpg);
  background-size: cover;
  color: #e0e0e0;
  font-family: "Inter";
  margin: 0;
  padding: 0;
  height: 1000px;
}

.header {
  padding: 20px 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.siteTitle {
  font-family: "Lora";
  font-size: 70px;
}

.upperCon {
  display: flex;
  justify-content: space-between;
}

.dashIcon {
  width: 40px;
}

.menu-container button {
  position: absolute;
  right: 80px;
  top: 30px;
  background-color: transparent;
  background-image: url(../images/menu.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

.menu-container .overlay {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  position: absolute;
  right: 80px;
  top: 30px;
  width: 250px;
  height: 300px;
  background-color: aliceblue;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  color: black;
}

.overlay span {
  position: absolute;
  top: 8px;
  right: 14px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.overlay .profile {
  display: flex;
  flex-direction: column;
}

.profile img {
  height: 100px;
  width: 100px;
  border: 4px solid rgb(112, 16, 16);
  border-radius: 100px;
}

.profile h4 {
  margin-bottom: 10px;
  text-align: center;
}

.overlay .options {
  display: flex;
  justify-content: center;
}

.options ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.options a {
  text-decoration: none;
  color: inherit;
}

.options li:nth-child(2) {
  margin-top: 5px;
}
.options li:nth-child(3) {
  margin-top: 15px;
  font-weight: 600;
}

.topCon {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 50px;
}

.movieDetails {
  display: flex;
  gap: 40px;
  padding-top: 40px;
}

.movieImage {
  width: 150%;
  height: auto;
}

.movieImage img {
  height: 100%;
  width: 270px;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movieInfo {
  flex-grow: 1;
}

.ratings {
  width: 120px;
}

.movieTitle {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.movieDirector {
  font-size: 1.1em;
  color: #aaaaaa;
  margin-bottom: 15px;
}

.yearReleased {
  font-size: 1.1em;
  color: #aaaaaa;
  margin-bottom: 30px;
}

.synopsisSec h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.synopsisText {
  line-height: 1.6;
  text-align: justify;
}

.separator {
  border: 0;
  height: 1px;
  background-color: hsl(0, 0%, 20%);
  margin: 40px 0;
}

.commentSec {
  display: flex;
}

#commentForm {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.commentBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #222222;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  width: 100%;
}

.commentBox input {
  flex-grow: 1;
  border: none;
  background: transparent;
  color: #e0e0e0;
  padding: 10px;
  font-size: 1em;
  outline: none;
}

.commentButton {
  display: inline;
  background-color: transparent;
  border: none;
}

.commentIcon {
  padding: 15px;
  width: 30px;
  height: 30px;
}

.userComment {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  padding-top: 15px;
}

.userPfp {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.commentDetails {
  flex-grow: 1;
}

.userName {
  font-weight: bold;
  font-size: 1.1em;
}

.commentDate {
  font-size: 0.8em;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.commentText {
  line-height: 1.5;
  text-align: justify;
}
