body {
    background-color: rgb(20, 19, 19);
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.siteTitle {
    font-family: "Lora";
    font-size: 2.5em;
}

.upperCon {
    display: flex;
    justify-content: space-between;
}

.dashIcon {
    width: 40px;
}

.topCon {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 50px;
}

.movieDetails {
    display: flex;
    gap: 40px;
    padding-top: 40px;
}

.movieImage {
    width: 150%;
    height: auto;
}

.movieImage img {
    width: 100%;
    height: 370px;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movieInfo {
    flex-grow: 1;
}

.ratings {
    width: 120px;
}

.movieTitle {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.movieDirector {
    font-size: 1.1em;
    color: #AAAAAA;
    margin-bottom: 15px;
}

.yearReleased {
    font-size: 1.1em;
    color: #AAAAAA;
    margin-bottom: 30px;
}

.synopsisSec h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.synopsisText {
    line-height: 1.6;
    text-align: justify;
}

.separator {
    border: 0;
    height: 1px;
    background-color: hsl(0, 0%, 20%);
    margin: 40px 0;
}

.commentSec {
    display: flex;
}

.commentBox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #222222;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333333;
    width: 90%;
}

.commentBox input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #E0E0E0;
    padding: 10px;
    font-size: 1em;
    outline: none;

}

.commentIcon {
    padding: 15px;
    width: 30px;
    height: 30px;
}

.userComment {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    padding-top: 15px;
}

.userPfp {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.commentDetails {
    flex-grow: 1;
}

.userName {
    font-weight: bold;
    font-size: 1.1em;
}

.commentDate {
    font-size: 0.8em;
    color: #AAAAAA;
    margin-bottom: 10px;
}

.commentText {
    line-height: 1.5;
    text-align: justify;
}