body {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin: 0;
  font-family: Arial, sans-serif;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 550px;
  background-image: url("image/2.png");
  background-position: center;
  background-size: 630px;
  z-index: 1;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.3s ease;
}

.overlay2 {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 550px;
  background-image: url("image/3.png");
  background-position: center;
  background-size: 500px;
  z-index: 1;
  border-radius: 10px;
  visibility: visible;
  transition: 0.3s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  font-size: 10px;
  color: rgba(133, 132, 132, 0.877);
}

input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.check-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 63%;
}

.check-container label {
  width: auto;
  font-size: 15px;
}
